body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #cc0000;
}

h2 {
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3 {
  color: #cc0000;
  margin-bottom: 8px;
}

p {
  color: #333;
  line-height: 1.5;
}

input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #cc0000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #a30000;
}

.card {
  background-color: white;
  width: 250px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
}

.card img {
  width: 150px;
}

#message {
  color: #cc0000;
  font-weight: bold;
  margin-top: 15px;
}

nav a:hover{
    color: #7500c0;
}

hr{
    border: none;
    border-top: 2px solid #d7b8f8;
    width: 90%;
    margin: 30px auto;
}
